// Colors
$black: #121212;

// White
$white: #ffffff;
$darkWhite: #fcfcfd;
$darkerWhite: #f5f4f6;
$darkestWhite: #ebeaed;
$mostDarkestWhite: #dedce1;

// Ink
$ink: #170c3a;
$lightInk: #8f8a9b;
$lighterInk: #b1adb9;
$lightestInk: #c7c4cd;

// Blue
$darkerBlue: #244aa8;
$darkBlue: #2f55cc;
$blue: #365df0;
$lightBlue: #9aaef7;
$lighterBlue: #b9c6fa;
$lightestBlue: #cad6fc;
$mostLightestBlue: #e1e7fd;

// Green
$darkerGreen: #0e995d;
$darkGreen: #10b26c;
$green: #12db89;
$lightGreen: #88edc4;
$lighterGreen: #b7f7d8;
$lightestGreen: #cff9e6;
$mostLightestGreen: #e7fbf3;

// Red
$darkerRed: #a53f3f;
$darkRed: #cc4c4c;
$red: #f95e5a;
$lightRed: #fcaeac;
$lighterRed: #fcc6c5;
$lightestRed: #fcd7d6;
$mostLightestRed: #feefee;

// Yellow
$darkerYellow: #996c2b;
$darkYellow: #d89c3a;
$yellow: #ffbb43;
$lightYellow: #ffdda1;
$lighterYellow: #fff8ec;

// Purple
$darkerPurple: #353372;
$darkPurple: #4c4499;
$purple: #6554c0;
$lightPurple: #b2a9df;
$lighterPurple: #efeef9;

// Teal
$darkerTeal: #2497b2;
$darkTeal: #2bafd8;
$teal: #30c3fc;
$lightTeal: #98e1fe;
$lighterTeal: #eaf9ff;
